/* BeakPi - CSS */



/* App Main */
/* -------- */

body {
  background: url(/img/background.jpg) repeat;  
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0;
  color:#FFF;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#serviceViewHolder {
  background: url(/img/serviceView-background.png) repeat-x top center;
  width: 100%;
  float: left;
  min-height: 188px;
  padding-top: 10px;
  margin-bottom: 60px;
}

#serviceMenuView {
  width: 100%;
  text-align: center;
  background: url(/img/menu-background.png) repeat; 	
  border-bottom: solid 2px #000;
  height: 34px;
  display: none;
  position: absolute;
  z-index: 500;
}

#serviceView {
  margin: 36px auto 0;
}

.clear {
  clear:both;
}

.slideInHolder {
  top: 0px;
  bottom: -200px;
  left: 0px;
  padding-top:84px;
  width: 63%;
  position: fixed;
  background: rgba(0,0,0,0.9);
  z-index: 50;
  text-align: center;
}

.slideInEnder {
  top: 0px;
  bottom: -200px;
  left: 0px;
  padding-top:44px;
  width: 100%;
  position: fixed;
  z-index: 40;
  text-align: center;
}

/* --------------- */
/* --------------- */



/* Dojo Overwrites */
/* --------------- */

.dijitButtonText{
font-size:10px;
}

.claro .dijitSliderReadOnly .dijitSliderImageHandleH, .claro .dijitSliderDisabled .dijitSliderImageHandleH{
display: none
}

.claro .dijitDialogPaneContent {
  background: url(/img/background.jpg) repeat;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper,
.claro .dijitSliderDisabled .dijitSliderProgressBarH, .claro .dijitSliderDisabled .dijitSliderLeftBumper{
  background: #28292C
}


/* --------------- */
/* --------------- */



/* Audio Player */
/* ------------ */

.trackWithoutArt {
  float: left; 
  width: 100%;  
  opacity: 0
}

.trackWithoutArt .title{
  float: left;
  font-size: 10px;
  width: 65%;
  margin: 0 0 0 5px;
}

.trackWithoutArt .title .name{
  font-size:13px;
  width: 100%;
  height: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  display: inline-block;
}
.trackWithoutArt .title .artist{
  width: 100%;
  height: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  display: inline-block;
}

.trackWithoutArt .buttons{
  float: left;

}

.searchSummary{
  font-size: 9px; 
  font-weight: 100; 
  margin-left: 7px;
}

.currentlyPlaying{
  background: url(/img/playing-background.png) repeat-x;
  padding: 10px 0;
  display: block;
  margin: 10px auto 0;
  text-align: center;
  border-bottom:solid 2px #37373C;
  position: relative;
  height: 40px;
  font-size: 15px
 -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .75);
}

.currentlyPlayingInfo {
  position: relative;
  z-index: 30;
  text-shadow: 0px 1px rgba(0, 0, 0, .75);
}


.controlButtons{
  text-align: center;
}

.inputSearch{
  margin-top: 4px;
  width: 204px;
  float: left;
}


.playlistStored{
  margin: 5px 0 20px;
  text-align: center;
}

.noSongs{
  text-align: center;
  display: block;
}

.PlayingControlHolder {
  background: url(/img/menu-background.png) repeat;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 60;
}

.PlayingControl {
  width: 700px
}

.spotifyButton{
  position: absolute;
  left: 0;
  top: 1px;
  background: #006699;
  height: 58px;
  width: 100px;
  background: url(/img/music-images/spotify.png) center right;
  background-size: 200px 200px;
  opacity: 0.4;
}

.pandoraButton{
  position: absolute;
  right: 0;
  top: 1px;
  background: url(/img/music-images/pandora.png) center left;
  background-size: 150px 150px;
  height: 58px;
  width: 100px;
  opacity: 0.4;
  z-index: 20;  
}


.iconPlay{
  background: url(/img/music-images/Play.png) center center no-repeat;
  background-size: 10px 10px;
  height: 20px;
  width: 20px;
}

.iconPause{
  background: url(/img/music-images/Pause.png) center center no-repeat;
  background-size: 10px 10px;
  height: 20px;
  width: 20px;
}

.iconPrev{
  background: url(/img/music-images/Skip-back.png) center center no-repeat;
  background-size: 10px 10px;
  height: 20px;
  width: 20px;
}

.iconNext{
  background: url(/img/music-images/Skip-ahead.png) center center no-repeat;
  background-size: 10px 10px;
  height: 20px;
  width: 20px;
}
.iconShuffle{
  background: url(/img/music-images/random-shuffle.png) center center no-repeat;
  background-size: 14px 14px;
  height: 20px;
  width: 20px;
}

/* --------------- */
/* --------------- */



/* RF Controller */
/* ------------ */

.rfControlList {
  text-align: center;
}