<div class="PlayingControlHolder">
	<div data-dojo-attach-point="PlayingControl" class="PlayingControl">
		<div data-dojo-attach-point="_progressSeekBar"></div>
		<div class="clear"></div>
	    <table data-dojo-attach-point="_controlHolder">
	    	<tr>
	    		<td data-dojo-attach-point="_controlHolderButtons">
				    <button data-dojo-attach-point="_btnPrev" data-dojo-type="dijit/form/Button" type="button">Prev</button>

				    <button data-dojo-attach-point="_btnPlayPause" data-dojo-type="dijit/form/Button" type="button"><i class="icon-play icon-2x"></i></button>
					
					<button data-dojo-attach-point="_btnNext" data-dojo-type="dijit/form/Button" type="button">Next</button>
				</td>
				<td data-dojo-attach-point="_controlHolderVolume">
					<div data-dojo-attach-point="_volumeSeekBar"></div>
				</td>
				<td data-dojo-attach-point="_controlHolderShuffle">
  					<button data-dojo-attach-point="_btnShuffle" data-dojo-type="dijit/form/Button" type="button">Shuffle</button>
				</td>
			</tr>
		</table>
	</div>
</div>