<div data-dojo-attach-point="musicPlayer">
  <div class="currentlyPlaying">
    <span data-dojo-attach-point="_currentlyPlaying"></span>
    <br />
    <span data-dojo-attach-point="_currentlyPlayingTime"></span>
  </div>
  <div class="clear"></div>
  <button data-dojo-attach-point="_btnStored" data-dojo-type="dijit/form/Button" type="button" >Stored</button>
  <button data-dojo-attach-point="_btnShuffle" data-dojo-type="dijit/form/Button" type="button" >Shuffle</button>
	<div data-dojo-attach-point="_trackSearchView"></div>
  <div data-dojo-attach-point="_trackPlaylistView"></div>
  <div data-dojo-attach-point="_playingControlHolder"></div>
</div>