/* BeakPi - CSS */

/*
Color Scheme:
http://colorschemedesigner.com/#5A31KsOsOFfFf

Primary Color:
E01625  963B42  78040D  F4616C  F49BA2
Secondary Color A:
0F9A69  296751  035337  58DDAE  8CDDC0
Secondary Color B:
85D315  6B8D38  457104  B5F05F  CCF098

*/


/* App Main */
/* -------- */

body {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #E01625;
}

#serviceViewHolder {
  background: #000
}

#serviceMenuView {
  background: #000;
}

#serviceView {
}


.slideInHolder {
  background: #000;

}
/* --------------- */
/* --------------- */



/* Dojo Overwrites */
/* --------------- */

.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  background-color: #E01625;
  background-image: none;
  border: none;
  color: #FFF;
}

.claro .dijitButtonHover .dijitButtonNode, 
.claro .dijitDropDownButtonHover .dijitButtonNode, 
.claro .dijitComboButtonHover .dijitButtonNode,
.claro .dijitToggleButtonHover .dijitButtonNode {
  background-color: #FC3C5C;
  background-image: none;
  border: none;
  color: #EEE;
}

.dijitButtonText {
}

.claro .dijitSliderReadOnly .dijitSliderImageHandleH, .claro .dijitSliderDisabled .dijitSliderImageHandleH {
}

.claro .dijitDialogPaneContent {
  background: url(/img/background.jpg) repeat;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper,
.claro .dijitSliderDisabled .dijitSliderProgressBarH, .claro .dijitSliderDisabled .dijitSliderLeftBumper{
  background: #0F9A69
}
/* --------------- */
/* --------------- */



/* Audio Player */
/* ------------ */

.inputExplore {
}

.trackWithArt {
}

.trackWithArt .buttons{
}

.trackWithArt .title{
}

.trackWithoutArt {
}

.trackWithoutArt .title{
}

.trackWithoutArt .title .name{
}

.trackWithoutArt .title .artist{
}

.trackWithoutArt .buttons{
}

.searchSummary{
}

.currentlyPlaying{
  color: #58DDAE;
  background: #000;
  border: solid 2px #0F9A69;

}

.currentlyPlayingInfo {
  
}

.noSongs{
}

.PlayingControlHolder {
  background: #000;
  color: #E01625;
}

.PlayingControl {
}

.spotifyButton{
}

.pandoraButton{
}

#pandoraArt {
}

.iconPlay{
}

.iconPause{
}

.iconPrev{
}

.iconNext{
}

.iconShuffle{
}

.iconLike{
}

.iconDislike{
}

/* --------------- */
/* --------------- */



/* RF Controller */
/* ------------ */

.rfControlList {
}

